<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaobing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{56,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{56,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xiaobing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{56,70}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{56,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xiaobing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{56,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{56,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xiaobing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{56,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{56,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xiaobing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{56,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xiaobing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{58,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xiaobing7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{56,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xiaobing8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{56,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{56,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaobing.png</string>
            <key>size</key>
            <string>{62,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1df264fa8eb60b63183b60b94eb13db:1f17bc9f3a32f023532d925697353885:c6078a15cd8d06eccc2d28710f84d5c6$</string>
            <key>textureFileName</key>
            <string>xiaobing.png</string>
        </dict>
    </dict>
</plist>
